<!-- app/views/apocalypses/events/show.html.erb -->
<h1>Event Details</h1>

<p><strong>Pet:</strong> <%= @pet.name %></p>
<p><strong>Apocalypse:</strong> <%= @apocalypse.name %></p>
<p><strong>Event:</strong> <%= @event.name %></p>
<p><strong>Description:</strong> <%= @event.description %></p>
