/* app/assets/stylesheets/happy.css */
.happy-container {
    text-align: center;
    background-color: #fcebb6;
    color: #333;
    padding: 20px;
    border-radius: 15px;
  }
  
  .actions .button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  .actions .button:hover {
    background-color: #ffb600;
  }

  .red-button {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  